[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = SwanBaiLei
	email = 65945846+Baiyi27@users.noreply.github.com
[core]
	editor =Code -w
	autocrlf = false
[safe]
	directory = *
